/vendor
/node_modules
/.git
/.github
/.vscode

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/tests

.env
.env.example

.editorconfig
.gitattributes
.gitignore

phpunit.xml
README.md
API_ENDPOINTS.txt